.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-body {
    background-color: #151518;
    display: flex;
    flex: 1;
    overflow-y: hidden;
}

.side-dashboard {
    border-right: 1px solid #2c2c33;
    overflow: auto;
}

/* Main area takes the rest */
.main-dashboard {
    flex: 1;
    overflow-y: auto;
    background-color: #121214;
    padding: 20px;
}    