@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300..900;1,14..32,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

.poppins-font {
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-font {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.rubik-font {
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mulish-font {
    font-family: 'Mulish', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lato-font {
    font-family: 'Lato', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.openSans-font {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dmSans-font {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.mozilla-text-font {
    font-family: "Mozilla Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}